/** Sitewide Styles **/

body {
  background: #ccc;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}

#main {
  background: #f1f1f1;
  border: 1px solid #999;
  padding-bottom: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  margin-top: 1em;
}

#flash ul {
  padding: 0.5em; 
  margin-top: 0.5em; 
}
#flash ul.info {
  border: 1px dotted #999;
  background: #ccc;
  color: #666;
  margin-bottom: 0.5em; 
}
#flash ul.error {
  border: 1px dotted #900;
  background: #e99;
  color: #900;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: 0.5em;
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

article {
  margin-bottom: 1em;
}

code {
  display: block;
  background: #e3e3e3;
  border: 1px solid #ccc;
  font-family: courier;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  overflow: auto;
}

/** Form Items **/
.form-item {
  clear: left;
  border-bottom: 1px dotted #ccc;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.form-item:hover {
  background: #ccc;
  border-bottom: 1px dotted #999;
}
.form-item h5 {
  float: left;
  width: 200px;
  align: right;
}

/** Images **/

/** Menu **/
nav {
  margin-bottom: 0.5em;
  border-bottom: 1px dotted #999;
}
nav a,
nav a:link,
nav a:visited,
nav a:active,
nav a:hover {
  text-decoration: none;
  color: #336699;
  margin-right: 0.5em;
}
nav a:hover {
  text-decoration: underline;
}

/** Pager **/
.pager-status {
  margin-bottom: 1em;
}
.pager-title {
  float: left;
  margin-right: 1em;
}
.pager {
  margin-top: 1em;
}

.pager ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.pager ul li {
  list-style-type: none;
  background-image: none;
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0 0 0.25em 0;
}

.pager ul li a,
.pager ul li a:link,
.pager ul li a:visited,
.pager ul li a:hover,
.pager ul li a:active
{
  text-decoration: none;
  color: #336699;
}

.pager ul li a.active,
.pager ul li a.active:link,
.pager ul li a.active:visited,
.pager ul li a.active:hover,
.pager ul li a.active:active
{
  text-decoration: none;
  color: #333;
}

/** Home **/
#welcome {
  margin-bottom: 1em;
}
