#admin-links!= partial('admin_links')
- if (typeof data.images != 'undefined') 
  #images
    - for (image in data.images)
      .image
        a(href: '/images/full/' + data.images[image], class: 'lightbox')
          img(src: '/images/thumbs/' + data.images[image])
article#blog!= data.body.replace(/(\r\n|\n|\r)/gm,"<br />")
