.pager-status= 'Showing ' + pager.start + '-' + pager.range + ' of ' + pager.total
- blogs.forEach(function(item) {
  article.blog
    h3
      - url = typeof item.url != 'undefined' ? item.url : '/blog/' + item._id
      a(href: url)= item.title
    .body!= item.body.replace(/(\r\n|\n|\r)/gm,"<br />")
- });
.pager!= partial('pager', pager)
